name: Ren'Py Autobuild + Deploy (Creeeples v1.0.0)
on:
  push:
    branches:
      - 'release/*'
      - 'prerelease/*'

jobs:
  build-renpy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Extract Version from Branch Name
      id: extract_version
      run: |
          GITHUB_REF_CLEAN=$(echo ${GITHUB_REF#refs/heads/} | sed -e "s#\(release\|prerelease\)/##g")
          echo "ref=$GITHUB_REF_CLEAN" >> $GITHUB_OUTPUT
      env:
        GITHUB_REF: ${{ github.ref }}

    - name: Format Release Tag
      id: format_tag_name
      run: |
        echo "tag_name=v${{ steps.extract_version.outputs.ref }}" >> $GITHUB_OUTPUT

    - name: Build VN Project (Web)
      id: build_project
      uses: creeeples/renpy-docker-builder@v1.0.2
      with:
        sdk-version: '8.1.1'
        project-dir: '.'
        # This forces Ren'Py to only build the Web/HTML5 version
        package: 'web'
      env:
        SDL_AUDIODRIVER: dummy
        SDL_VIDEODRIVER: dummy

    - name: Setup GitHub Release
      uses: softprops/action-gh-release@v1
      with:
        token: ${{ github.token }}
        tag_name: ${{ steps.format_tag_name.outputs.tag_name }}
        prerelease: ${{ startsWith(github.ref, 'refs/heads/prerelease/') }}
      env:
          GH_TOKEN: ${{ github.token }}

    - name: Upload Web Build to GitHub
      run: |
        for file in ${{ steps.build_project.outputs.dir }}/*-web.zip; do
          echo "Uploading $file"
          gh release upload ${{ steps.format_tag_name.outputs.tag_name }} "$file" --clobber
        done
      env:
          GH_TOKEN: ${{ github.token }}

    - name: ItchIO Upload (Web)
      if: startsWith(github.ref, 'refs/heads/release/')
      uses: Ayowel/butler-to-itch@v1.2.0
      with:
        action: "push"
        install_dir: ~/.butler
        butler_source: "https://broth.itch.zone/butler"
        butler_key: ${{ secrets.BUTLER_KEY }}
        itch_user: "1Glizda"
        itch_game: "echoes-of-a-classroom"
        version: "${{ steps.format_tag_name.outputs.tag_name }}"
        # This pushes the web zip to the 'HTML5' channel on Itch
        files: |
          web ${{ steps.build_project.outputs.dir }}/*-web.zip
        auto_channel: false
        check_signature: false
        update_path: false
        butler_version: "latest"
